 body {width: 80%; margin: 0 auto;}

 header {background-color: pink; border: 1px solid black; margin-bottom: 10px; }

  ul {display:flex; justify-content: flex-start; }

  li:last-child {list-style: none;}
 
 .borderright {list-style: none; border-right:2px solid black; padding-right: 10px; margin-right: 10px;}

  
 .bluecontainer
 {background-color:#42b9f4 ; width:30%;}

 .whitecontainer
 {width:70%;}