 body, .sliderstyle
 {	width: 80%;
 	margin: 0 auto;
 	padding:0;
 	font-family: 'Open Sans';}

 header {background-color: #FFB4B0;
 	border: 1px solid black;
 	height:50px;
 	margin-bottom: 10px; }

header ul li {
	padding-top: 10px;
}

  ul, .songinfo ul {display:flex;
  	justify-content: flex-start; }

  li:last-child {list-style: none;}

form > div, section>input
	{display: flex;
	flex-direction: column;}

  /* created classes*/
 .borderright, .songinfo li
 {list-style: none;
  border-right:2px solid black;
  padding-right: 10px;
  margin-right: 10px;}

 .songinfo li {height:auto;}

 .bluecontainer
 {background-color: #4DD7FA;
 	width:25%;
 	margin-right: 20px;
 	padding:20px; }

 .yellowcontainer
 {	width:75%;
 	background-color: #FEFAC0;
 	max-height: 500px;
 	overflow: scroll; }

 .sidebyside
 {display:flex;}

 .borderstyle {border:2px solid black; }
 .outline{outline: 2px solid black; }

.rounded {border-radius:5px;}

.checkbox {
	display: flex;
	flex-wrap: wrap;
	padding-left: 20px;
}

.checkbox>div {flex:1 50%;}

.songinfo h2
	{font-weight: bold;
	color: #785616;
	padding-left:40px; }

button#btn-submit.borderstyle.rounded {
	width:90%;
	margin: 0 auto;

}

.isHidden{
	display:none;
}

.addMusic{
	justify-content: center;
	text-align: center;

}

.addMusic label{

	position:absolute;
}

.addMusic input{

	margin-left: 9em;
}

.disabled{
	pointer-events: none;
}



